# Copy this file to .env and fill in your values.

# Get this from https://console.cloud.google.com/apis/credentials
# Create an "OAuth client ID" of type "Web application".
# Add your Codespace forwarded URL (and http://localhost:3000) under "Authorized JavaScript origins".
GOOGLE_OAUTH_CLIENT_ID=645668619789-r0pua9otca04jt5f0q6od7qb0cebtvoe.apps.googleusercontent.com

# Any long random string — used to sign session tokens (JWT). Change this.
JWT_SECRET1=8307e952cbbc354b2459f9079f44406f622be8e9fff4ec1c741a0d50aa00d631cc5208b35470f63fb8637ee6fe1d7f4d5bf16ce48116dd8dc6bcda2151269d6c

# Port the server runs on
PORT=3000
